h1 {
 text-align: center;
 }



img {
	display: block;
	margin-left: : auto;
	margin-right: auto;
	text-align: center;
}

/*.backgroundPic {
	display: block;
	margin-left: : auto;
	margin-right: auto;
}
*/

body { 
background-color: #8F2929;
 }